[submodule "dobby"]
	path = dobby
	url = https://github.com/jmpews/Dobby.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "nlohmann_json"]
	path = nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "httplib"]
	path = httplib
	url = https://github.com/yhirose/cpp-httplib.git
